extends layout

block content
  h1 TransitHaX
  p.lead An EvoHax project for navigating Philadelphia
  hr
  .row
    .col-sm-6
      h2 Buses
      p Track the current location of a bus, view the bus schedule, and check for delays 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Trains
      p Track the current location of a train, view the train schedule, and check for delays
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Trolleys 
      p Track the current location of a trolley, view the trolley schedule, and check for delays
      p
        a.btn.btn-default(href='#', role='button') View details »