extends ../layout

block content
  h2
    i.fa.fa-bus
    | Septa API

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='http://developer.github.com/guides/getting-started/', target='_blank')
      i.fa.fa-check-square-o
      | Getting Started
    a.btn.btn-primary(href='https://apigee.com/console/github', target='_blank')
      i.fa.fa-laptop
      | API Console
    a.btn.btn-primary(href='http://developer.github.com/v3/', target='_blank')
      i.fa.fa-file-text-o
      | Documentation
